@import "_common.sass"

.blog_block
    .blogs_wrap
        display: flex
        padding: 40px 0

        @media screen and (min-width: $mobile)
            flex-direction: column
        @media screen and (min-width: $table)
            flex-direction: row
            justify-content: space-evenly
