@import "_common.sass"

.subscribe_block
    background: linear-gradient(to right, rgb(121, 210, 237), rgb(183, 251, 185))

    .subscribe_wrap
        display: flex

        .subscribe-left, .subscribe-right
            width: 50%
            padding: 40px 0
        
        .subscribe-left
            text-align: left

            h3 
                color: rgb(32, 27, 90)
                margin-bottom: 15px

            span
                color: rgb(119, 119, 119)
        
        .subscribe-right
            display: flex
            align-items: center
            justify-content: center

            input
                border-color: transparent
                border-radius: 50px
                padding: 15px
                width: 100%

