@import "_common.sass"

.about-us_block
    box-sizing: border-box

    .container_wrap
        display: flex

        .block_purple-color
            box-sizing: border-box
            background-color: rgb(50, 46, 121)
            color: #fff
            position: relative
            z-index: 1

            
        .img-wrap
            position: relative
            z-index: 2
            width: fit-content
            display: flex
            align-items: center

            img
                max-width: 500px
    
    @media screen and (min-width: $mobile)
        flex-direction: column

        .container_wrap
            width: 80% 
            margin: 15px auto

            .block_purple-color
                padding: 15px

            .img-wrap
                display: none

    @media screen and (min-width: $table)
        flex-direction: row
        align-items: center

        .container_wrap
            .block_purple-color
                width: 80%
                margin-left: 0
                padding: 60px 30px

                .text-wrap
                    width: 70%
                    margin-left: 0

            .img-wrap 
                display: flex
                margin-left: -20%

                img 
                    max-width: 350px

