@import "_common.sass"

.reviews_block
    background-image: url('../../img/testimonial_bg.png')
    @include pics-view_params 
    color: #fff
    padding: 20px 0
    height: 50vh
    font-size: 20px
    line-height: 25px

    .reviews_container
        height: 100%
        display: flex
        @include vertical-view_params
        justify-content: center

    .review_text, .review_info
        text-align: center

    .review_info
        img 
            max-width: 100px
    
    .review_stars
        max-width: 120px
        margin: 0 auto

        img 
            width: 100%
            max-width: 20px

    @media screen and (min-width: $mobile)
        .review_text
            width: 80%
            margin: 20px auto
    @media screen and (min-width: $table)
        .review_text
            width: 60%
            margin: 20px auto
