@import "_common.sass"

.castle_block
    box-sizing: border-box
    display: none
    flex-direction: column
    background-image: url("../../img/blog_img3.png")
    @include pics-view_params 
    background-position: center

    .castle_block-blue
        width: 100%
        background: rgb(50, 46, 121, 0.8)
        padding: 50px 0

        .container_wrap
            .choice-panel
                display: flex
                @include desktop-view_params
                box-sizing: border-box
                width: 100%
                color: white
                position: relative
                z-index: 3
                width: calc(100% - 30px)
                margin-left: 15px

                .panel-wrap
                    cursor: pointer
                    box-sizing: border-box
                    padding: 20px 15px
                    width: calc(30% + 20px)
                    text-align: center
                    position: relative
                    background: $gradient

                    &_item
                        background-color: rgb(50, 46, 121)
                        position: absolute
                        margin: -18px -14px
                        padding: 9px 0
                        width: calc(100% - 4px)

                        &:hover, &:focus
                            @include hover_params

                .active
                    @include active-class
    
    @media screen and (min-width: 319px)
        margin: 50px auto 0

        .container_wrap
            .choice-panel
                font-size: 12px
                .panel-wrap
                    padding: 20px 10px 
                    width: calc(30% + 10px) 

                    &_item  
                        padding: 4px 0 

                    &:not(:last-child)
                        margin-right: 5px  
    @media screen and (min-width: $desktop)

