.blog-post
    color: #fff
    background-color: rgb(57, 53, 134)
    margin: 10px
    overflow: hidden

    &:hover 
        background-color: rgb(32, 27, 90)
        transition: transform .5s ease

        .blog-img
            transform: scale(1.25)
            overflow: hidden

        .blog-title
            background-image: linear-gradient(to right, rgb(121, 210, 237), rgb(183, 251, 185))
            background-size: 70%
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            -moz-background-clip: text
            -moz-text-fill-color: transparent


    .blog-img
        min-height: 150px
        border-bottom: 1px solid #fff
        background-repeat: no-repeat
        background-size: cover
        background-image: url('../../../img/blog/home-blog/home-blog-1.jpg')

        img
            display: block
            width: 100%
            margin: auto
    
    p
        padding: 5px 15px
    
    .blog-data 
        display: flex
        justify-content: space-evenly
        padding: 20px 15px 40px

        &_item
            display: flex
            align-items: center

            img
                max-width: 25px
            
            span 
                margin-left: 15px
    
    @mixin min-width($mobile)
        width: 80%
        margin: 0 auto 15px
    @mixin min-width($table)
        width: 32%
        margin: 0 auto