@import "_common.sass"

.gallery_block
    box-sizing: border-box

    .container_wrap
        .gallery_imgs
            display: flex

            .img_wrap
                overflow: hidden

                &:hover .overlay
                    opacity: 1
                
                img
                    display: block
                    margin: auto
                    position: relative
                    z-index: 1
    
    @media screen and (min-width: 319px)
        flex-direction: column

        .container_wrap
            .gallery_imgs
                flex-direction: column

                .img_block1, .img_block2, .img_block3
                    width: calc(100% - 30px)
                    margin: 0 0 15px 15px
                
                .img_block1
                    flex-direction: column

                    img
                        width: 100%
                        margin-top: 10px


    @media screen and (min-width: $table)
        .container_wrap
            .gallery_imgs
                .img_block3
                    display: none
                
                .blocks-wrap
                    width: 100%
                    display: flex
                    flex-direction: column

                    .img_block1
                        width: calc(100% - 70px)
                        justify-content: center
                        margin: 10px auto
                    
                        img
                            max-width: 335px

                        > div:last-child
                            margin-left: 20px

                        > div:not(:last-child)
                            margin: 0 15px 0 0
                        

                    .img_block2
                        width: calc(100% - 50px)
                        margin: 20px auto 20px

                        img
                            max-width: 700px
                    
                    .img_block3

                        img
                            max-width: 335px

    @media screen and (min-width: $desktop)
        .container_wrap
            .gallery_imgs
                width: 78%
                flex-direction: row
                justify-content: space-between
                margin: 20px auto

                .blocks-wrap

                    .img_block1
                        width: 100%

                        img
                            max-width: 340px

                        > div:last-child
                            margin-left: 15px

                        > div:not(:last-child)
                            margin: 0

                    .img_block2
                        margin: 0
                        width: 100%

                .img_block3
                    display: flex
                    justify-content: center
                    margin: 10px 0 0 10px

                    img
                        background-size: cover
                        height: 100%
