$mobile: 319px
$table: 640px
$desktop: 1200px

.container_wrap
    box-sizing: border-box
    @media screen and (min-width: $mobile)
        width: 100%
    @media screen and (min-width: $table)
        width: 80%
        margin: auto
    @media screen and (min-width: $desktop)
        width: 75%
        margin: auto